@font-face{
  src: url(../font/ShadowsIntoLight-Regular.ttf);
  font-family: Shadows;
}

body{
  padding: 0%;
  margin: 0%;
  background-color: #f1f1f1;

}

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
  
header a{
  color:#f4f4f4;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header{
  background:#FFB94E;
  display: block;
  color: #f4f4f4;
  padding-top: 15px;
  min-height: 15px;
  border-bottom: #4B77BE 3px solid;  
} 

header li{
  display: inline;
  padding: 0 20px 0 20px;
}
  
header #branding{
  float: left;
}
  
header #branding h1{
  margin: 0;
}
  
header nav{
  float: right;
  margin-top: 10px;
}
  
header .current a{
  color: #1F4788;
  font-weight: bold;
}
  
header .highlight{
  color: #1F4788;
  font-weight: bold;
  font-family: Shadows;
}
  
header a:hover{
  color:#1F4788;
  font-weight: bold;
}

footer{
  padding: 10px;
  margin-top: 140px;
  color: #f4f4f4;
  background-color: #FFB94E;
  text-align: center;
} 

.information{
  display: flex;
}
.image{
  margin-left: 300px;
  margin-top: 150px;
}
.name{
  margin-top: 150px;
  margin-left: 60px;
}
h2{
  color: #1F4788;
  font-size: 30px;
  line-height: 1.2em;
  margin-bottom: 0;
  margin-top: 0;
}
h4{
  color: black;
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 0;
}
.details{
  font-weight: bold;
  color: black;
  font-size: 16px;
  text-align: left;

}
.image-std{
  border-style: solid;
  border-image: 30px;
  border-color: gold;
}