@font-face{
    src: url(../font/ShadowsIntoLight-Regular.ttf);
    font-family: Shadows;
  }
body{
    background-color:#373636;
    font-family:sans-serif;
    text-align:left;
    display:grip;
    width:100wh;
    height:232vh;
    padding: 0%;
    margin: 0%;
    
    }
    .container{
        width: 80%;
        margin: auto;
        overflow: hidden;
    }
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
      }
      header a{
        color:#f4f4f4;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
      }
      header{
        background:#FFB94E;
        color: #f4f4f4;
        padding-top: 15px;
        min-height: 15px;
        border-bottom: #4B77BE 3px solid;  
      } 
      header li{
        display: inline;
        padding: 0 20px 0 20px;
      }
      
      header #branding{
        float: left;
      }
      
      header #branding h1{
        margin: 0;
      }
      
      header nav{
        float: right;
        margin-top: 10px;
      }
      
      header .current a{
        color: #1F4788;
        font-weight: bold;
      }
      
      header .highlight{
          color: #1F4788;
          font-weight: bold;
          font-family: Shadows;
      }
      
      header a:hover{
        color:#1F4788;
        font-weight: bold;
      } 
    form{
  
     font-family:courier;
     font-size:20px;
    }
    #main{
    font-size: 30px;
    color:black;
    width :200px;
    height:50px;
    text-align: center;
    border : 2px solid white;
    padding-bottom:10px;
    padding-top: 30px;
    margin-left:1300px;
    margin-top:20px;
    position: fixed;
    background-color:#4B77BE;
     
    }
    .buttons{
    position: fixed;
     bottom: 20px;
     right: 30px;
     z-index: 99;
     font-size: 18px;
     background-color: #FFB94E;
     color: white;
     padding: 16px;
    }
    .output{
    text-align:center;
    background-color:#1F4788;
    max-width:800px;
    margin-left: 40px;
    }
    .checkmark{
    color:green;
    font-weight: bold;
    font-size:35px;
    }
    .cross{
    color:red;
    font-weight: bold;
    font-size:35px;
    }
    #question{
     display:block;;
    font-size:20px;
    color :white;
     font-family: Helvetica;
     border:15px solid #4B77BE ;
     
    }
    .quiz,.option input {
        margin-left:30px; 
    }
    
    footer{
        padding: 10px;
        margin-top: 10px;
        color: #f4f4f4;
        background-color: #FFB94E;
        text-align: center;
      }
   